version: 2
jobs:
  build:
    environment:
      DEPLOY_CLUSTER_NAME: saleor-cloud
      STAGING_K8S_NAMESPACE: cloud-staging
      STAGING_DEPLOYMENT_NAME: saleor-stable-staging
      MASTER_BRANCH_NAME: 2.11/master
      AWS_CD_ROLE_ARN: arn:aws:iam::727618530289:role/CD_edit_k8s_cloud_staging_ns
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Prepare Environment
          command: |
            repo="727618530289.dkr.ecr.us-east-1.amazonaws.com/saleor-multitenant"
            version=$(sed -n 's/ARG\sVERSION="\(\S*\)"/\1/p' Dockerfile)
            hash=$(git rev-parse --short HEAD)
            branch=$(git rev-parse --abbrev-ref HEAD)

            if [[ "$branch" == "$MASTER_BRANCH_NAME" ]]; then
              image_version="${version}-${hash}"
              tags="${repo}:latest
                    ${repo}:${version}
                    ${repo}:${image_version}"
            else
              branch=$(echo $branch | sed 's@/@-@g')
              image_version="${version}-${hash}-${branch}"
              tags="${repo}:${image_version}"
            fi
            echo "
              tags='"$tags"'
              export IMAGE_VERSION=${image_version}
              export IMAGE_TAG=${repo}:${image_version}
            " >> $BASH_ENV
      - run:
          name: Build application
          command: |
            docker-compose build --build-arg IMAGE_VERSION=$IMAGE_VERSION
      - run:
          name: Run tests
          command: |
            docker-compose run --rm api pytest -n 0
      - run:
          name: Push to ECR
          command: |
            pip install awscli==1.18.155
            $(aws ecr get-login --no-include-email)

            set -x

            for tag in ${tags}; do
              docker tag project_api $tag
              docker push $tag
            done
      - run:
          name: Deploy to Cloud-Staging
          command: |
            if [[ "$(git rev-parse --abbrev-ref HEAD)" != "$MASTER_BRANCH_NAME" ]]; then
              echo "Not on master, skipping deployment"
              exit 0
            fi

            curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
            chmod +x ./kubectl

            aws eks --region "$AWS_DEFAULT_REGION" update-kubeconfig --name "$DEPLOY_CLUSTER_NAME" --role "$AWS_CD_ROLE_ARN"
            ./kubectl patch deployment "$STAGING_DEPLOYMENT_NAME" --type='json' -p="[{\"op\": \"replace\", \"path\": \"/spec/template/spec/containers/0/image\", \"value\": \"$IMAGE_TAG\"}]" -n "$STAGING_K8S_NAMESPACE"
            ./kubectl patch deployment "$(echo $STAGING_DEPLOYMENT_NAME | sed 's/saleor/celery/')" --type='json' -p="[{\"op\": \"replace\", \"path\": \"/spec/template/spec/containers/0/image\", \"value\": \"$IMAGE_TAG\"}]" -n "$STAGING_K8S_NAMESPACE"

            ./kubectl wait --for=condition=ready pod -l app="$STAGING_DEPLOYMENT_NAME" -n "$STAGING_K8S_NAMESPACE" --timeout 5m
            sleep 20

            pod_name=$(./kubectl get pod -l app="$STAGING_DEPLOYMENT_NAME" --field-selector=status.phase=Running -o jsonpath="{.items[0].metadata.name}" -n "$STAGING_K8S_NAMESPACE")
            ./kubectl exec -n "$STAGING_K8S_NAMESPACE" $pod_name -- ./manage.py migrate_schemas
