version: 2
jobs:
  build:
    docker:
      - image: circleci/python:latest
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build application
          command: |
            docker-compose build
      - run:
          name: Run tests
          command: |
            docker-compose run --rm api pytest -n 0
      - run:
          name: Push to ECR
          command: |
            pip install awscli==1.18.155

            repo="727618530289.dkr.ecr.us-east-1.amazonaws.com/saleor-multitenant"
            version=$(sed -n 's/ARG\sVERSION="\(\S*\)"/\1/p' Dockerfile)
            hash=$(git rev-parse --short HEAD)
            branch=$(git rev-parse --abbrev-ref HEAD)

            if [[ "$branch" == "multitenant-master" ]]; then
              tags=("${repo}:latest"
                    "${repo}:${version}"
                    "${repo}:${version}-${hash}")
            else
              tags=("${repo}:${version}-${hash}-${branch}")
            fi
            $(aws ecr get-login --no-include-email)

            for tag in "${tags[@]}"; do
              docker tag project_api $tag
              docker push $tag
            done
