version: 2
jobs:
  build:
    docker:
      - image: circleci/python:latest
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build application
          command: |
            docker-compose build
      - run:
          name: Run tests
          command: |
            docker-compose run --rm api pytest -n 0
