name: Build and deploy stable staging
on:
  - push
jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      DEPLOY_CLUSTER_NAME: saleor-cloud
      STAGING_K8S_NAMESPACE: cloud-staging
      STABLE_DEPLOYMENT_NAME: saleor-stable-staging
      STABLE_BRANCH_NAME: "2.11"
      AWS_CD_ROLE_ARN: arn:aws:iam::727618530289:role/CD_edit_k8s_cloud_staging_ns
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ hashFiles('Dockerfile') }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Prepare Environment
        run: |
          set -x
          repo="727618530289.dkr.ecr.us-east-1.amazonaws.com/saleor-multitenant"
          core_version=$(sed -n 's/ARG\sVERSION="\(\S*\)"/\1/p' Dockerfile)
          hash=$(git rev-parse --short HEAD)
          branch=$(git rev-parse --abbrev-ref HEAD)
          if [[ "$branch" == "$STABLE_BRANCH_NAME" ]]; then
            image_version="${core_version}-${hash}"
            tags=${repo}:latest,\
                 ${repo}:${core_version},\
                 ${repo}:${image_version}
          else
            branch_slug=$(echo $branch | sed 's@/@-@g')
            image_version="${core_version}-${hash}-${branch_slug}"
            tags="${repo}:${image_version}"
          fi

          if [[ "$BRANCH" == "master" ]]; then
            echo "UPSTREAM=mirumee/saleor" >> $GITHUB_ENV
            echo "UPSTREAM_VERSION=master" >> $GITHUB_ENV
          else
            echo "UPSTREAM=ghcr.io/mirumee/saleor" >> $GITHUB_ENV
            echo "UPSTREAM_VERSION=$core_version" >> $GITHUB_ENV
          fi

          echo "BUILD_TAGS=${tags}" >> $GITHUB_ENV
          echo "BRANCH=${branch}" >> $GITHUB_ENV
          echo "CORE_VERSION=${core_version}" >> $GITHUB_ENV
          echo "IMAGE_VERSION=${image_version}" >> $GITHUB_ENV
          echo "IMAGE_TAG=${repo}:${image_version}" >> $GITHUB_ENV

      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          context: ./
          push: True
          tags: ${{ env.BUILD_TAGS }}
          target: prod
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          build-args: |
            UPSTREAM=${{ env.UPSTREAM }}
            VERSION=${{ env.UPSTREAM_VERSION }}
            IMAGE_VERSION=${{ env.IMAGE_VERSION }}
            STATIC_URL=/static/

      - name: Test
        run: |
          docker build . \
            --cache-from type=local,src=/tmp/.buildx-cache \
            --load \
            --target prod \
            -t multitenant_api \
            --build-arg UPSTREAM=${UPSTREAM} \
            --build-arg VERSION=${UPSTREAM_VERSION} \
            --build-arg IMAGE_VERSION=${IMAGE_VERSION} \
            --build-arg STATIC_URL=/static/
          COMPOSE_DOCKER_CLI_BUILD=1 docker-compose --project-name multitenant run --rm api pytest

      - name: Deploy to Stable Staging
        run: |
          set -x

          if [[ "$(git rev-parse --abbrev-ref HEAD)" != "$STABLE_BRANCH_NAME" ]]; then
            echo "Not on master, skipping deployment"
            exit 0
          fi
          aws eks --region "$AWS_DEFAULT_REGION" update-kubeconfig --name "$DEPLOY_CLUSTER_NAME" --role "$AWS_CD_ROLE_ARN"

          kubectl patch deployment "$STABLE_DEPLOYMENT_NAME" --type='json' -p="[{\"op\": \"replace\", \"path\": \"/spec/template/spec/containers/0/image\", \"value\": \"$IMAGE_TAG\"}]" -n "$STAGING_K8S_NAMESPACE"
          kubectl patch deployment "$(echo $STABLE_DEPLOYMENT_NAME | sed 's/saleor/celery/')" --type='json' -p="[{\"op\": \"replace\", \"path\": \"/spec/template/spec/containers/0/image\", \"value\": \"$IMAGE_TAG\"}]" -n "$STAGING_K8S_NAMESPACE"

          kubectl wait --for=condition=ready pod -l app="$STABLE_DEPLOYMENT_NAME" -n "$STAGING_K8S_NAMESPACE" --timeout 10m
          sleep 20

          pod_name=$(kubectl get pod -l app="$STABLE_DEPLOYMENT_NAME" --field-selector=status.phase=Running -o jsonpath="{.items[0].metadata.name}" -n "$STAGING_K8S_NAMESPACE")
          kubectl exec -n "$STAGING_K8S_NAMESPACE" $pod_name -- ./manage.py migrate_schemas
