# Works as follows:
#   1. It generates an SBOM using ./sbom-generator/action.yaml
#      (cdxgen + fetches licenses from NPM, PyPI, etc.)
#   2. It analyzes the SBOM using grant (./grant-license-checker/action.yaml)
name: Generate SBOM and Analyze Licenses

on:
  workflow_call:
    inputs:
      checkout_ref:
        type: string
        required: true
        description: >-
          The project's branch, tag or SHA to checkout and to analyze.
      rules:
        type: string
        required: true
        description: >-
          A list of grant YAML rules (default: deny all GPL licenses).
          More details at: https://github.com/anchore/grant/blob/v0.2.1/README.md#usage.
      ecosystems:
        type: string
        required: true
        description: >-
          The ecosystem list to scan (space or newline separated).
      output_formats:
        type: string
        required: true
        description: >-
          Whitespace separated list of formats for the license summary.
          Valid values: TSV, HTML, TTY.
      output_summary_artifact_name:
        type: string
        required: true
        description: >-
          The artifact name for 'actions/upload-artifact action' to pass
          the grant-summary output across jobs.
      output_sbom_artifact_name:
        type: string
        required: true
        description: >-
          The artifact name for the generated SBOM.
      is_same_repository:
        type: boolean
        default: false
        description: >-
          Whether the workflow is being dispatched from the same GitHub repository
          as the location of this workflow. False if it is another repository.

    outputs:
      check_conclusion:
        description: "Whether the license check passed or failed. One of: pass, fail"
        value: ${{ jobs.analyze-licenses.outputs.check_conclusion }}

permissions:
  contents: read

jobs:
  # 1. Generate an SBOM using cdxgen (CycloneDX generator),
  #    and fetches licenses from PyPI, NPM, etc.
  # 2. Outputs the SBOM JSON file as an artifact.
  generate-sbom:
    name: Generate SBOM and Fetch Licenses
    runs-on: ubuntu-22.04

    permissions:
      contents: read

    steps:
      # Clone the invoker's repository.
      - name: Checkout Caller's Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.checkout_ref }}

      - if: ${{ inputs.is_same_repository }}
        name: Generate SBOM
        uses: ./sbom-generator
        with:
          sbom_path: "./bom.json"
          ecosystems: ${{ inputs.ecosystems }}

      # When not running inside the same repository as the action,
      # use the action version as we cannot access our files inside
      # reusable workflows.
      - if: ${{ !inputs.is_same_repository }}
        name: Generate SBOM
        uses: saleor/saleor-internal-actions/sbom-generator@v1.6.0
        with:
          sbom_path: "./bom.json"
          ecosystems: ${{ inputs.ecosystems }}

      # Send the results to the next job ('analyze-licenses').
      - name: Upload Results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ inputs.output_sbom_artifact_name }}
          path: ./bom.json

  # 1. Takes an SBOM as input (artifact),
  # 2. Analyzes it using grant and sends a summary as HTML (error if any
  # rules are violated),
  # 3. Outputs the HTML and JSON results as an artifact.
  analyze-licenses:
    name: Analyze Licenses
    runs-on: ubuntu-22.04

    needs:
      - generate-sbom

    permissions:
      contents: read

    outputs:
      check_conclusion: >-
        ${{
          steps.license-analyzer-self.outputs.check_conclusion
            || steps.license-analyzer-workflow-call.outputs.check_conclusion
        }}

    steps:
      - if: ${{ inputs.is_same_repository }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Download SBOM
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ inputs.output_sbom_artifact_name }}
          path: .

      - id: license-analyzer-self
        if: ${{ inputs.is_same_repository }}
        name: Analyze Licenses
        uses: ./grant-license-checker
        with:
          rules: ${{ inputs.rules }}
          sbom_path: ./bom.json
          output_formats: ${{ inputs.output_formats }}

      - id: license-analyzer-workflow-call
        if: ${{ !inputs.is_same_repository }}
        name: Analyze Licenses
        uses: saleor/saleor-internal-actions/grant-license-checker@v1.6.0
        with:
          rules: ${{ inputs.rules }}
          sbom_path: ./bom.json
          output_formats: ${{ inputs.output_formats }}

      - name: Upload Analysis Results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ inputs.output_summary_artifact_name }}
          path: >-
            ${{ 
                steps.license-analyzer-self.outputs.results_dir_path 
                || steps.license-analyzer-workflow-call.outputs.results_dir_path
            }}
