name: Run tests against grant-license-checker
on:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - .github/workflows/test-grant-license-checker.yaml
      - ./grant-license-checker/**
  push:
    branches: [main]
    paths:
      - .github/workflows/test-grant-license-checker.yaml
      - ./grant-license-checker/**

permissions: {}

jobs:
  main:
    runs-on: ubuntu-22.04

    defaults:
      run:
        working-directory: ./grant-license-checker

    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          sparse-checkout: ./grant-license-checker

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          # Note: make sure to update `poetry env use pythonX.Y` below.
          python-version: "3.12"

      - name: Install Python Dependencies
        shell: bash
        run: |
          pip install poetry~=1.8.0
          poetry env use python3.12
          poetry install --with=dev
          echo "$(poetry env info -p)"/bin >> "$GITHUB_PATH"

      - name: pytest
        run: |
          pytest ./
